.timeline__list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.timeline__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline__list-item__name {
  font-weight: bold;
}

.timeline__list-item__duration {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 12px;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.timeline__list-item__duration::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  border: 1px solid var(--secondary-color);
  top: 27px;
  position: absolute;
}

@media screen and (min-width: 1600px) {
  ul li:nth-child(odd) .timeline__list-item__duration {
    padding-bottom: 70px;
  }
  ul li:nth-child(odd) .timeline__list-item__poste {
    position: relative;
    top: -80px;
  }

  ul li:nth-child(even) .timeline__list-item__name {
    position: relative;
    top: 130px;
  }

  ul li:nth-child(even) .timeline__list-item__poste {
    position: relative;
    top: 70px;
  }

  ul li:nth-child(odd) .timeline__list-item__duration::after {
    top: 75px;
  }

  ul li:nth-child(even) .timeline__list-item__duration::after {
    top: -15px;
  }

  ul li:nth-child(even) .timeline__list-item__duration {
    font-size: 12px;
    border-top: 2px solid var(--secondary-color);
    border-bottom: none;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    top: 59px;
  }
}

@media screen and (max-width: 1599px) {
  .exp__container {
    position: relative;
    overflow: hidden;
  }
  .timeline__list {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;

    gap: 35px;
  }
  .timeline__list::before {
    content: "";
    background-color: var(--secondary-color);
    height: 100%;
    width: 2px;
    position: absolute;
  }
  .timeline__list-item {
    all: unset;
  }
  .timeline__list-item__name {
    all: unset;
  }
  .timeline__list-item__duration {
    all: unset;
  }
  .timeline__list-item__duration::after {
    all: unset;
  }
  .timeline__list-item__poste {
    all: unset;
  }

  ul li:nth-child(odd) .timeline__list-item__duration {
    all: unset;
  }
  ul li:nth-child(odd) .timeline__list-item__poste {
    all: unset;
  }

  ul li:nth-child(even) .timeline__list-item__duration {
    all: unset;
  }
  ul li:nth-child(even) .timeline__list-item__poste {
    all: unset;
  }

  .timeline__list-item {
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
  }

  .timeline__list-item__name {
    font-weight: bold;
  }

  .timeline__list-item__duration {
    font-size: 11px;
  }

  ul li:nth-child(odd) {
    position: relative;
    left: 140px;
  }

  ul li:nth-child(odd) .timeline__list-item__duration::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
    left: -35%;
    position: absolute;
  }

  ul li:nth-child(even) {
    position: relative;
    right: 140px;
  }

  ul li:nth-child(even) .timeline__list-item__duration::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
    left: 120%;
    position: absolute;
  }
}

@media screen and (max-width: 550px) {
  .timeline__list {
    font-size: 14px;
  }

  .timeline__list li .timeline__list-item__duration {
    font-size: 1px;
  }

  .timeline__list-item {
    width: 130px;
  }

  ul li:nth-child(odd) {
    position: relative;
    left: 98px;
  }

  ul li:nth-child(even) {
    position: relative;
    right: 90px;
  }

  ul li:nth-child(even) .timeline__list-item__duration::before {
    left: 109%;
  }
}
