.icon__container {
  background-color: var(--black-color);
  border-radius: 10px;
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  transition: background-color 400ms;
}

.icon__container:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  animation: shake-center 1s ease-in 0s 1 normal none;
}
@keyframes shake-center {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}
