/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
  --primary-color:#28282F;
  --secondary-color:#F10849;
  --black-color:#242426;
  --black-light-color:#292E34;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
background-color: var(--primary-color);

}

.App{
  margin:  0 7rem ;
}

.section__padding{
  padding: 4rem 0;
}

@media screen and (max-width: 700px) {
  .section__padding {
      padding: 4rem;
    }
    
    .App {
      margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
  .section__padding {
      padding: 4rem 2rem;
    }
    
    .App {
      margin: 4rem 1.5rem;
    }
}